<h3 class="title is-3">Hero details</h3>
<div class="box" *ngIf="hero">
  <article class="media">
    <div class="media-left">
      <figure class="image is-256x256">
        <img src="https://api.adorable.io/avatars/256/{{hero.id}}.png" alt="avatar">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <h4 class="title is-4">{{hero.name}} - Details</h4>
        <div class="field">
          <label class="label">ID</label>
          <div class="control">
            {{hero.id}}
          </div>
        </div>
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input class="input"
            [class.is-danger]="name.invalid && (name.dirty || name.touched)"
            [(ngModel)]="edit.name"
            placeholder="Hero name"
            required minlength="1"
            required maxlength="15"
            #name="ngModel">
          </div>
          <p *ngIf="name.invalid && (name.dirty || name.touched)" class="help is-danger">This name is invalid</p>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-primary" [disabled]="name.invalid && (name.dirty || name.touched)" (click)="save()">Save</button>
          </div>
          <div class="control is-expanded">
            <button class="button" (click)="goBack()">Back</button>
          </div>
          <div class="control">
            <button class="button is-danger" (click)="delete()">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>
