<!--The content below is only a placeholder and can be replaced.-->
<section class="hero is-info is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-2">
        <a routerLink="/">
          {{title}}
        </a>
      </h1>
    </div>
  </div>
  <div class="container">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item"
            *ngFor="let tab of tabs"
             routerLink="/{{tab}}">
            {{tab | titlecase}}
          </a>
        </div>
      </div>
    </nav>
  </div>
</section>
<section class="section">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</section>
