<h3 class="title is-3">Top Heroes</h3>
<div class="columns is-mobile">
  <div class="column is-one-quarter" *ngFor="let hero of heroes" routerLink="/detail/{{hero.id}}">
    <div class="card">
      <div class="card-image">
        <figure class="image">
          <img src="https://api.adorable.io/avatars/256/{{hero.id}}.png" alt="avatar">
        </figure>
      </div>
      <header class="card-header">
        <p class="card-header-title is-size-4">
          {{hero.name}}
        </p>
      </header>
    </div>
  </div>
</div>
