.menu-list .input {
  width: unset;
}

.menu-list a {
  display: inline-block;
  vertical-align: middle;
}

.menu-list #plus {
  padding: 0 1em;
}

.menu-list .tag {
  margin-right: 0.5em;
}

.button,.delete {
  vertical-align: middle;
}
