<h3 class="title is-3">My heroes</h3>
<div class="menu">
  <ul class="menu-list">
    <li *ngFor="let hero of heroes" class="is-size-5">
      <a routerLink="/detail/{{hero.id}}">
        <span class="tag is-info">{{hero.id}}</span>
        <strong>{{hero.name}}</strong>
      </a>
      <button class="delete" (click)="deleteHero(hero.id)"></button>
    </li>
    <li class="is-size-5">
      <a>
        <span class="tag is-primary" id="plus">+</span>
        <input [(ngModel)]="newName"
          class="input"
          placeholder="Hero name"
          required minlength="1"
          required maxlength="15"
          #name="ngModel"
          (keyup.enter)="addHero()"
        >
      </a>
      <button class="button is-info is-small"
        [disabled]="name.invalid" (click)="addHero()">Add</button>
    </li>
  </ul>
</div>
<div class="compoment">
  <button class="button is-danger is-outlined" (click)="resetHeroes()">
    Reset Heroes
  </button>
</div>
